################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BeginnerProjects/.vs/BeginnerProjects
/BeginnerProjects/Calculator/bin/Debug
/BeginnerProjects/Calculator/obj/Debug
/BeginnerProjects/Dice/obj/Debug/Dice.csproj.AssemblyReference.cache
/BeginnerProjects/GuessingNumberGame/bin/Debug/GuessingNumberGame.exe
/BeginnerProjects/GuessingNumberGame/bin/Debug/GuessingNumberGame.pdb
/BeginnerProjects/GuessingNumberGame/obj/Debug/GuessingNumberGame.csproj.AssemblyReference.cache
/BeginnerProjects/GuessingNumberGame/obj/Debug/GuessingNumberGame.exe
/BeginnerProjects/GuessingNumberGame/obj/Debug/GuessingNumberGame.pdb
/BeginnerProjects/ToDoList/obj/Debug/ToDoList.csproj.AssemblyReference.cache
/BeginnerProjects/ToDoList/obj/Debug/ToDoList.csproj.FileListAbsolute.txt
/BeginnerProjects/TurnBasedCombatGame/bin/Debug/TurnBasedCombatGame.exe
/BeginnerProjects/TurnBasedCombatGame/bin/Debug/TurnBasedCombatGame.pdb
/BeginnerProjects/TurnBasedCombatGame/obj/Debug/TurnBasedCombatGame.csproj.AssemblyReference.cache
/BeginnerProjects/TurnBasedCombatGame/obj/Debug/TurnBasedCombatGame.exe
/BeginnerProjects/TurnBasedCombatGame/obj/Debug/TurnBasedCombatGame.pdb
/BeginnerProjects/AreaCalculator/obj/Debug/AreaCalculator.csproj.AssemblyReference.cache
/BeginnerProjects/Calculator/obj/Debug/Calculator.csproj.AssemblyReference.cache
/BeginnerProjects/RockPaperScissors/obj/Debug/RockPaperScissors.csproj.AssemblyReference.cache
